// Portfolio item 4 modal popup
#portfolioModal4.faq-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            //- .close-modal(data-bs-dismiss='modal')
            //-     img(src='assets/img/close-icon.svg', alt='Close modal')
            .container-four
                .row.justify-content-center
                    .col-lg-8
                        .modal-body.fourth-modal
                            // Project details
                            h2.text-uppercase CHARITIES
                            p.item-intro.text-white GET FAMILIAR
                            img.img-fluid.d-block.mx-auto(src='/assets/img/CharInfo.png', alt='...')
                            p Air Charity: #[a( href='https://www.catf.us/' ) catf.us]. Water Charity: #[a( href='https://generosity.org/' ) generosity.org]. Fire Charity: #[a( href='https://www.rainforesttrust.org/' ) rainforesttrust.org]. Earth Charity: #[a( href='https://onetreeplanted.org/' ) onetreeplanted.org]. | WE ARE NO WAY AFFILIATED OR COLLABORATING DIRECTLY WITH THESE CHARITIES BUT THESE ARE THE CHARITIES WE HAVE HAND CHOSEN AS A TEAM TO DONATE TO. 

                            //- ul.list-inline
                            //-     li
                            //-         strong Client:
                            //-         | Lines
                            //-     li
                            //-         strong Category:
                            //-         | Branding
                            button.btn.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-times.me-1
                                | Close 