// Portfolio item 2 modal popup
#portfolioModal2.faq-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            //- .close-modal(data-bs-dismiss='modal')
            //-     img(src='assets/img/close-icon.svg', alt='Close modal')
            .container-two
                .row.justify-content-center
                    .col-lg-8
                        .modal-body.second-modal
                            // Project details
                            h2.text-uppercase PREVIEW
                            p.item-intro.text-white TAKE A PEEK
                            img.img-fluid.d-block.mx-auto(src='/assets/img/Bunch.png', alt='...')

                            
                            p 13,000 UNIQUE NFTs THAT HAVE BEEN HAND DRAWN BY OUR IN HOUSE ARTIST VINCENT SANTANA. FOUR ELEMINTZ. A FEW SUPRISES.
                            //- ul.list-inline
                            //-     li
                            //-         strong Client:
                            //-         | Explore
                            //-     li
                            //-         strong Category:
                            //-         | Graphic Design
                            button.btn.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-times.me-1
                                | Close 